.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #292929;
  text-align: center;
}

.landing-content {
  max-width: 600px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #4F4E4E;
}

.landing-logo {
  width: 120px;
  margin-bottom: 20px;
}

.landing-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #FFFFFF;
}

.landing-desc {
  font-size: 1.1rem;
  color: #D6D6D6;
  margin-bottom: 30px;
}

.get-started-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.get-started-btn:hover {
  background-color: #0056b3;
}
